
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.main-content{
background-image: url(home-background.png);
background-size: cover;
}
h1, h2, h3 {
    color: rgb(255, 255, 255); /* Text color */
    font-family: 'Montserrat', sans-serif;
}
li{
    padding: 3px;
}
.sidebar ul{
    display: flex;
    height: 10vh;
    justify-content: end;
    width: 100  vw;
    padding-left: 15px;
    background: linear-gradient(to bottom, #ff77a9, #7d3643);
}
.sidebar ul li{
    display:  flex;
    justify-content: center;
    align-items: center;
}
.sidebar ul li a{
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    border-radius: 20px;
    color: rgb(255, 231, 249)    ;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
    }
.sidebar ul li a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    align-items: center;
    transform: scale(1.1);
    justify-content: center;
        background-color: rgba(239, 197, 225, 0.926);
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 50px;
        color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    }
h2{
    display: flex;
    width: 55vw;
    color: #fce8eb;
    justify-content: start;
    align-items: start;
}   
.main-content{
    display: flex;
    /* background-color: blanchedalmond; */
}
.left-main{
    margin-top: 10px;
    height: 89.9vh;
    width: 50vw;    
}
.dd{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50vh ;
    width: 60vw;
    /* background-color: rgb(157, 110, 48); */
    font-size: xx-large;
}

.frontimage img,
.dd h1,
.slogan h3 , .myworks a{
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.frontimage img  {

    animation: fadeInUp 2s   ease forwards 0.5s;
}
.dd h1 {

    animation: fadeInUp 2s   ease forwards 1s;
}

.slogan h3 {
    animation: fadeInUp 1.5s ease forwards 2s;
}

.myworks a {
    animation: fadeInUp 1s ease forwards 2.5s;
}
.slogan{
    display: flex;
    justify-content: center;
    align-items: first baseline;   
    font-size: x-large;
    height: 3vh;
    width: 64vw;
    padding: 11px;
}
.myworks{
    
    display: flex;
    justify-content: center ;
    height: 10vh;
    width: 60vw;
    /* background-color: violet; */
}
.myworks a{
    font-size: x-large;
    color: rgb(255, 247, 247);
    background-image: url(mywork-image.png);
    background-size: cover;  
    background-color: transparent;
    height: 11vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(217, 255, 0); */
    text-decoration: none;
}
.frontimage{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 92vh;
    width: 35vw;
  
}
.frontimage img{
    height: 82vh;
    width: 45vw; 
}
